/* Fonts and colors */
body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}
h2 {
  color: #A0A0A0;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #4352A1;
}

/* Custom design */
.banner {
  background-image: url("https://images.unsplash.com/photo-1453227588063-bb302b62f50b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: 100% 25%;
  color: white;
  padding: 200px 0;
  font-size: 45px;
}
.banner h1 {
  text-align: right;
  font-size: 45px;
  position: absolute;
  left: 463px;
  top: -177px;
}
.banner p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
  text-align: right;
  text-shadow: 1px 1px #ababab;
  position: absolute;
  right: -90px;
  bottom: 1px;
}
.container {
  width: 700px;
  margin: 50px auto;
  position: relative;
}
.link-medium {
  background-color: #6FFFE9;
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}
.link-medium:hover {
  background-color: #3A506B;
  color: white;
}

/* Media queries */
@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}
